.home {
  height: 600px;
  background-color: yellow;
  text-align: center;
}

.textoBanner {
  color: #382564;
  padding-top: 200px;
  font-size: 24px;
  height: 67px;
  text-align: center;
  width: 750px;
  font-family: "Poppins", "Medium";
  margin-left: 30%;
}
